doctype html
html(lang="en")
    meta(name='viewport',content="width=deviceWidth,initial-scale=1")
    head
        title demo
        link(rel="stylesheet", href="../css/login.css")
        script(data-main="../js/lib/main",src="./js/lib/require.js")
        script(type='text/javascript')
            -console.log('demo')
        body
            include template/header
            include template/footer
